* {
    margin: 0;
    padding: 0;
}

main {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid black;
    background-color: blue;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.393);
    display: flex;
}

div#seta-esq, div#seta-dir {
    position: absolute;
    height: 400px;
    line-height: 400px;
    padding: 0px 10px 0px 10px;
    color: transparent;
}

div#seta-esq:hover, div#seta-dir:hover {
    background-color: rgba(0, 0, 0, 0.447);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
}

div#seta-dir {
    right: 0;
}

div#container-img {    
    width: 500px;
    height: 400px;
    display: flex;
    overflow: hidden;
}

.imagens {
    width: 500px;
    height: 400px;
    transition: all 1s;
}